 <%- include('../partials/header.ejs') %>
<main class="container">
    <h1 class="my-4">Twytr - Dashboard</h1>
    <form method="POST" action="/post/create">
    <div>
        <textarea type="text" class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Whats on your mind?" name="text"></textarea>
        <!-- <input type="text" id="inputline" placeholder="What's on your mind?" name="text"> -->
        <button type="submit" class="btn btn-primary" href="/post/create" id="submitbtn">Create Post</button>
    </div>
    </form>
    <div>
        <h1>Feed</h1>
        <hr>
        <% posts.forEach(post => { %>
         
            <div class="card" style="width: 70rem;">
                <div class="card-body">
                    <a><%= post.user.username %></a>
                    <p class="card-text"><%= post.text %> </p>
                    <p><%= post.createdDate %></p>
                </div>
            </div>
        <% }) %>
    </div>
</main>

  <%- include('../partials/footer.ejs') %> 
